body {
    font-family: Arial, sans-serif;
    background-color: #ccf2c3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-form {
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="password"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4d694e;
    color: white;
}

.error-message {
    color: red;
    font-size: 14px;
    text-align: center;
}
